* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-size: 16px;
}

body {
    background-color: #F5F9FF;
    min-height: 100vh;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 h1 {
    font-family: "Rubik", serif;
    font-weight: 600;
    color: #11175E;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    gap: .75rem;
    margin-bottom: 1.5rem;
}

input {
    font-family: "Rubik", serif;
    font-weight: 400;
    flex: 1;
    padding: .75rem .75rem;
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    font-size: .87rem;
}

input::placeholder {
    color:#B1BACB
}

.add-button {
    background: #2D70FD;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.add-button:hover {
    background: #4c81f4;
    transform: scale(1.05);
}

.task {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: .75rem;
    border: 1px solid #e0e0e0;
}

.task-title {
    font-size: 1rem;
    color: #1a1a1a;
    margin-bottom: .5rem;
}

.task-title-conclude {
    text-decoration: line-through;
    font-size: 1rem;
    color: #8F98A8;
    margin-bottom: .5rem;
}

.task-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.task-tags {
    display: flex;
    margin-bottom: .5rem;
}

.tag {
    background: #f3f4f6;
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-size: .75rem;
    color: #8F98A8;
}

.task-date {
    font-size: .75rem;
    color: #8F98A8;
}

.conclude-button {
    background: #2D70FD;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: .87rem;
    cursor: pointer;
}

.conclude-button:hover {
    background: #4c81f4;
    transform: scale(1.05);
}

.task-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

#tasks-progress {
    display: flex;
    align-items: end;
    color: #8F98A8;
    font-size: 0.875rem;
}

.remove-done-tasks-btn{
    background: #2D70FD;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: .87rem;
    cursor: pointer;
}

.remove-done-tasks-btn:hover {
    background: #4c81f4;
    transform: scale(1.05);
}

/* Breakpoints */

@media only screen and (max-width: 600px){
    .board {
        display: flex;
        flex-direction: column;
    }
    .board h1 {
        font-size: 1.7rem;
    }

    .input-group{
        display: flex;
        flex-direction: column;
    }

    .task-group {
        display: flex;
        flex-direction: column;
    }

    .task-meta{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
